<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Flask App{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">


</head>
<body>
    <header>
        <h1>🐟 FLask 🐌 🦀</h1>
    </header>
    <main>
        {% block content %}
        <!-- Content will be injected here -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2026 Keith's Software Development Project</p>
        <p>Github: <a href="https://github.com/whalelogic/csc330" target="_blank">WhaleLogic</a></p>
        <p>Google Docs - <a href="https://docs.google.com/document/d/1fmkC9hDmg7PS3OimBRIekq2CCeVdnl03iyltH5uqu2E/edit?tab=t.0" target="_blank">Group Project Notes</a></p>
    </footer>
</body>
</html>


